<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div>
 <input type="text" [(ngModel)]="color" alt="Type color red,green,blue">
<div [ngSwitch]="color" >
    <p *ngSwitchCase="'red'" class="red">The Color is Red    </p>
    <p *ngSwitchCase="'green'" class="green">The Color is green    </p>
    <p *ngSwitchCase="'blue'" class="blue">The Color is blue    </p>
    
    
    <p *ngSwitchDefault>|There is no Color</p>


</div>
</div>
<div>
  <button (click)="onclick(demoinput.value)" (mouseover)="onover($event)">Click Event</button>
  <input type="text" #demoinput [(ngModel)]="name">
  <br>
  <p>Hello Mr.{{name}}</p>
</div>

<div>
    <p [style.display]="'block'">
        Expression sets display to "block".
        This paragraph is visible.
      </p>
      <p [style.display]="'none'">
        Expression sets display to "none".
        This paragraph is hidden but still in the DOM.
      </p>

      <p [ngClass]="{textcolor:cone,backcolor:ctwo}" >ngclass is use</p>
      <button (click)="toggle()" >Toogle </button>
</div>



<router-outlet></router-outlet>
